.contact{
    display: none;
    @media screen and(min-width: 768px) {
        display: flex;
        flex-wrap: wrap;
        margin-left: 70px;
        }
    @media screen and(min-width: 1200px){
        margin-left: auto;
    }
}

.contact__item:not(:last-child) {
    margin-right: 1.875rem;
    @media screen and(min-width: 768px) {
        margin-bottom: 10px;
        }
    @media screen and(min-width: 1200px) {
        margin-bottom: 0;
        }
}

.contact__link{
    display: flex;
    align-items: center;
    justify-content: center;

    color: $primary-text-color;
    @media screen and(min-width: 768px) {
        font-size: 12px;
        line-height: 1.17;
    }
    @media screen and(min-width: 1200px){
        font-size: 14px;
        line-height: 1.143;
    }
}

.contact__img{
    margin-right:0.625rem;
    fill: currentColor;
}
