.menu{
    display: none;
    @media screen and(min-width: 768px) {
        display: flex;
    }   
    margin-left: 5.812rem;
}

.menu__item:not(:last-child){
    margin-right: 3.125rem;
}
    
.menu__link{
    position: relative;
}