.overlay{
    max-width: 100rem;
    margin: 0 auto;  
    background-image: linear-gradient(
    to right,
    rgba(47, 48, 58, 0.4),
    rgba(47, 48, 58, 0.4)
  ),
    url(./../images/index/bgd.jpg);
    
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}