.overlay{
    max-width: 100rem;
    margin: 0 auto;
    // margin-left: -30px ; 
    background-image: linear-gradient(
    to right,
    rgba(47, 48, 58, 0.4),
    rgba(47, 48, 58, 0.4)
  ),
    url(./../images/index/bgd.jpg);
    
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    @media (min-device-pixel-ratio: 2), (min-resolution: 2dppx) {
      background-image: linear-gradient(
        to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
      ),
    url(./../../images/index/bgd@2x.jpg);
    }
}