.section{
    // padding-top: 5.875rem; 
    // padding-bottom: 5.875rem;
    padding-top: 60px;
    padding-bottom: 60px;

    @media screen and(min-width: 1200px) {
        padding-top: 5.875rem; 
        padding-bottom: 5.875rem;
        }

    &--colored{
    padding-top: 60px;
    padding-bottom: 60px;

    background-color: $section-svg-bgd;

        @media screen and(min-width: 1200px) {
            padding-top: 5.875rem; 
            padding-bottom: 5.875rem;
        }
    }

    &-doing {
    padding-top: 0;
    display: none;
        @media screen and(min-width: 1200px) {
            display: block;
        }
    }
}