.section-hero{
    background-color: $footer-bgd; 

    padding-top: 12.5rem;  
    padding-bottom: 12.5rem;

        &__title{
        width: 43.75rem;
        color: $white-color; 
        margin: 0 auto; 
        margin-bottom: 1.875rem;  

        font-weight: 900;
        font-size: 2.75rem;
        line-height: 1.36;
        text-align: center;
        letter-spacing: 0.06em;
        text-transform: uppercase;
        }
}