.socials{
    margin-left: 4.375rem;
    
    &__join{
    margin-bottom: 1.25rem;
    color: $white-color;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 0.875rem;
    line-height: 1.143;
    }
}